<!doctype html>
<html>
  <body>
    <h1 style = "color:darkblue">Welcome to NUS</h1>
    <h2 style = "color:darkorange">Usefull Resources</h2>
    <p>
      <ul>
        <li><a href = "https://myedurec.nus.edu.sg/psp/cs90prd/?cmd=login">EduRec</a></li>
        <li><a href = "https://uhms.nus.edu.sg/students/Default.aspx?Params=L9ezxPcQnQsDuaBX%2bLFbaVCjyFjDa5W4">Housing</a></li>
        <li><a href = "https://www.comp.nus.edu.sg/">School of Computing</a></li>
    </ul>
    <img src = "https://res-2.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/u1wfzvjydflmlny3wqlx"
alt="NUS Logo">
    </p>
  </body>
<html>